.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
     font-family: 'Open Sans Condensed', sans-serif;
     color: rgb(70, 66, 66);
}

.login-page h1 {
    margin-bottom: 20px;
}